[Desktop Entry]
Type=Application
Name=MERIVUS
GenericName=MERIVUS Ground Control
Comment=MERIVUS ground control station
Icon=CustomAppIcon
Exec=qgroundcontrol-start.sh
Terminal=false
Categories=Utility;
